
<table border="2px">
<tr><th>id</th>
<th>firstName</th>
<th>lastName</th>
<th>street</th>
<th>city</th>
<th>state</th>
<th>subjects</th>
</tr>
<tr *ngFor="let student of students">
  <td>{{student.id}}</td>
  <td>{{student.firstName}}</td>
  <td>{{student.lastName}}</td>
  <td>{{student.address.street}}</td>
  <td>{{student.address.city}}</td>
  <td>{{student.address.state}}</td>
  <td>{{student.subjects}}</td>

  <td>
    <button (click)="editStudent(student.id)">edit</button>
  </td>
  <td>
    <button (click)="deleteStudents(student.id)">delete</button>
  </td>
</tr>
</table>
<p>{{students|json}}</p>